.App .Container {
  padding: 60px 0 100px;
  max-width: 960px;
  margin: 0 auto;
}
.App .Container-header {
  margin: 30px 0;
}
.App-logo {
  max-width: 200px;
  display: block;
  margin: 30 auto;
  padding-left: 600px;
}
.App footer {
  text-align: center;
  margin-top: 20px;
  background-color: brown;
  color: white;
  font-size: 13px;
}
.App footer a {
  text-decoration: underline;
  color: white;
}
