.Dictionary {
  text-align: left;
  color: rgb(199, 24, 247);
}
.Dictionary input {
  color: darkgoldenrod;
  padding: 6px 8px;
  border-radius: 6px;
  width: 100%;
  border: 1px solid darkkhaki;
}
.Dictionary section {
  background-color: wheat;
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0px 5px 15px rgba(0 0 0 / 10%);
  margin: 20px 0;
}
